/* partmom default stylesheet */
body {
    margin: 25px;
    font-family: helvetica;
    }
h1 {
    border-bottom: 2px solid;
    }
.error {
    padding: 15px;
    background-color: yellow;
    border: 4px solid orange;
    color:red;
    }
table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing:2px;
    }
th, td {
    border-width: 1px;
    border-style: inset;
    border-color: gray;
    padding: 2px;
    text-align: center;
    }

td.outofstock a {
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    }
td.available a {
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    }
