{% extends "base.html" %}
{% block title %}partmom: {{ grid.vendor }} {{ grid.familyname }}{% endblock %}
{% block content %}
<h1>{{ grid.vendor }} {{ grid.familyname }}</h1>

<table class="sharedspecs">
{% for spec in grid.shared_specs %}
    <tr><th>{{ spec }}</th>
        <td>{{ grid.shared_specs[spec] }}</td>
    </tr>
{% endfor %}
</table>
<br>

<table class="grid">
{% for row in grid.data_table %}
<tr class="{{ loop.cycle("evenrow", "oddrow") }} {% if loop.first %}strongrow{% endif %}">
    {% for cell in row %}
    {% if loop.first %}
        <th class="colheader" colspan="{{ cell[0] }}">{{ cell[1] }}</th>
    {% else %}
        <td colspan="{{ cell[0] }}">{{ cell[1] }}</td>
    {% endif %}
    {% endfor %}
    {% if loop.first %}</span>{% endif %}
</tr>
{% endfor %}

<tr class="strongrow">
<th class="colheader">Price</th>
{% for cell in grid.price_row %}
    <td class="{{ cell.css }}">
    {% if cell.url %}<a href="{{ cell.url }}">{% endif %}
    {{ cell.price }}
    {% if cell.url %}</a>{% endif %}
    </td>
{% endfor %}
</tr>

{% for row in grid.package_table %}
<tr class="{{ loop.cycle("evenrow", "oddrow") }}">
    {% for cell in row %}
    {% if loop.first %}
        <th class="colheader">Pins in {{ cell }} Package</th>
    {% else %}
        <td>{{ cell }}</td>
    {% endif %}
    {% endfor %}
</tr>
{% endfor %}

<tr class="strongrow allparts">
<th class="colheader">All Parts</th>
{% for cell in grid.suffix_row %}
<td>
    {% for part in cell %}
    {% if part.url %}<a href="{{ part.url }}">{{ part.suffix }}</a>
    {% else %}{{ part.suffix }}
    {% endif %}<br>
    {% endfor %}
</td>
{% endfor %}
</tr>

</table>

<div class="fineprint">
Fineprint: Prices from <a href="http://octopart.com">Octopart</a> API and only
include "authorized" distributors, regardless of stock. Some distributors
(Avnet?) do not allow their pricing to be included in the API results.
</div>
{% endblock %}
